version: "3.9"
services:
  redis:
    image: redis:7-alpine
    container_name: cyber_redis
    restart: always

  backend:
    image: python:3.11-slim
    container_name: cyber_backend
    volumes:
      - ./backend:/app
    command: sh -c "pip install fastapi uvicorn celery redis && uvicorn main:app --host 0.0.0.0 --port 8000"
    restart: always

  worker:
    image: python:3.11-slim
    container_name: cyber_worker
    volumes:
      - ./worker:/worker
      - /var/run/docker.sock:/var/run/docker.sock
    command: sh -c "pip install celery redis docker && celery -A tasks worker"
    restart: always

  kali:
    image: kalilinux/kali-rolling
    container_name: cyber_kali
    restart: always
    command: sh -c "apt update && apt install -y nmap && sleep infinity"
